**/**/.build/
**/**/.serverless
**/**/.cache/
**/**/lib
**/**/dist/
*.log
.DS_Store
**/node_modules/
**/vendor/
.vscode/
**/public/
windfall-elimination.sublime-project
windfall-elimination.sublime-workspace
